html,
body {
    min-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

.relative_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.js-ds-none {
    display: none !important;
}

.clearfix::after {
    content: '';
    display: block;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.profession-name {
    /* text-align: center; */
    font-size: 20px;
    font-weight: bold;
}

.g-fr {
    float: right;
}

.g-fl {
    float: left;
}

.section {
    background-color: #fff !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 1000px;
    height: 90px;
    line-height: 90px;
    margin: auto;
    padding: 0 100px;
    color: #ececec;
    font-size: 14px;
}

.header-logo {
    width: 43px;
    height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-icon {
    width: 27px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.part-one,
.part-two {
    background: url('../images/animate/bg-red.png') no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-weight: bold;
    font-size: 62px;
    text-align: center;
}

.part-two {
    background-image: url('../images/animate/bg-black.png');
}

.next-page {
    width: 9px;
    height: 32px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    cursor: pointer;
}

.part-three {
    background-color: #fff;
    position: relative;
}

.part-three .con {
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
    padding: 0 100px 0;
}

.nav-ul {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    /* font-size:  15px; */
    /* color:  #000; */
    z-index: 2;
    width: 1200px;
    /* padding: 0 100px; */
    margin: auto;
    /* margin-left: 24px; */
}

.nav-ul a {
    color: #231f20;
    font-size: 12px;
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
    /* width: 100px; */
    /* text-align:  center; */
    margin-left: 26px;
}

.nav-ul a.active::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #231f20;
    position: absolute;
    bottom: -6px;
}

.bv-big-logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 120px;
    width: 350px;
    height: 217px;
}

.about-us {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

.about-us-title {
    width: 180px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
    margin-right: 35px;
    left: -100%;
    position: relative;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.about-us-txt {
    font-size: 16px;
    color: #333;
    line-height: 2;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    text-align: justify;
    right: -100%;
    position: relative;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.next-page-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.controlArrow.next,
.controlArrow.prev {
    display: none !important;
}

.next-page-left {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.contact-us {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.contact-us-box {
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 990px;
    border-top: 1px solid #b3b5b7;
    text-align: center;
    padding-top: 20px;
    z-index: 0;
}

.contact-us-box .btn {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    background-color: #000;
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.hezuo {
    width: 1000px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 120px;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}

.part-six .con {
    /* height: 550px; */
    position: relative;
    width: 1000px;
    margin: auto;
    padding-left: 60px;
    /* right: -100%; */
    height: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* padding-left: 18%; */
    padding-top: 5%;
}

.part-six .red-bg {
    background-color: #961b34;
    width: 70%;
    position: absolute;
    height: 90%;
    left: -100%;
    transition: width 10s ease 1s;
    -webkit-transition: width 10s ease 1s;
    -moz-transition: width 10s ease 1s;
    -ms-transition: width 10s ease 1s;
    -o-transition: width 10s ease 1s;
    min-width: 1100px;
    min-height: 500px;
}

.part-six .con .con-txt {
    /* padding-top: 60px; */
    /* position: absolute; */
    /* left: 0; */
    /* padding-left: 130px; */
}

.part-six .con .back-last-page {
    width: 32px;
    height: 24px;
    position: absolute;
    top: 45px;
    left: 0;
    cursor: pointer;
}

.part-six .con .contact-us-title {
    width: 220px;
    height: 63px;
    /*margin-bottom: 65px;*/
}

.part-six .con .contact-address {
    width: 78%;
    /*margin-bottom: 45px;*/
    position: relative;
    min-width: 980px;
}

.part-six .con .contact-address .map {
    /*width: 450px;*/
    /*height: 240px;*/
    /*position: absolute;*/
    /*right: 85px;*/
    /*top: -75px;*/
    height: auto;
}

.part-six .con .txt {
    font-size: 22px;
    color: #333;
}

.part-six .con .txt>div {
    margin-bottom: 15px;
}

.part-seven .con {
    width: 960px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    margin-top: -92px;
    overflow: hidden;
}

.part-seven .bv-ia {
    width: 204px;
    height: 63px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.part-seven .bv-logo {
    width: 112px;
    height: 93px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 200px;
    position: relative;
}

.part-seven .bv-logo::before,
.part-seven .bv-logo::after {
    content: "";
    display: block;
    height: 60px;
    width: 1px;
    background-color: #b3b5b7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.part-seven .bv-logo::before {
    left: -100px;
}

.part-seven .bv-logo::after {
    right: -100px;
}

.part-seven .bv-big-red-block {
    cursor: pointer;
    background-color: #981c37;
    width: 37.8%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.part-seven .bv-international.bv-big-red-block {
    left: -100%;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
}

.part-seven .bv-arts.bv-big-red-block {
    right: -100%;
    transition: right 1s;
    -webkit-transition: right 1s;
    -moz-transition: right 1s;
    -ms-transition: right 1s;
    -o-transition: right 1s;
}

.part-seven .bv-big-red-block>div {
    opacity: 0;
    transition-delay: 3s;
    -moz-transition-delay: 3s;
    /* Firefox 4 */
    -webkit-transition-delay: 3s;
    /* Safari 和 Chrome */
    -o-transition-delay: 3s;
    /* Opera */
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}

.part-seven .bv-arts.bv-big-red-block>div {
    left: 120px;
}

.part-seven .bv-international.bv-big-red-block>div {
    right: 120px;
}

.part-seven .bv-ia.international:hover~.bv-international {
    left: 0;
}

.part-seven .bv-international:hover {
    left: 0;
    cursor: pointer;
}

.part-seven .bv-ia.arts:hover~.bv-arts {
    right: 0;
}

.part-seven .bv-arts:hover {
    right: 0;
    cursor: pointer;
}

#core_leader_list li {
    cursor: pointer
}

#profession li {
    cursor: pointer
}

#content_detail li {
    cursor: pointer
}

.part-eight .inter-two-pic-box {
    opacity: 0;
    -webkit-animation-delay: 2s!important;
    animation-delay: 2s!important;
    width: 83.3%;
    overflow: hidden;
    padding-bottom: 60px;
    min-width: 800px;
}

.inter-two-pic-box .con-box {
    width: calc(100%*2);
    position: relative;
    left: 0;
}

@media screen and (max-width: 1250px) {
    .part-nine .right-content-box,
    .part-eight .inter-two-pic-box,
    .resource-map,
    .picCarsoule-con {
        left: 50px !important;
        -webkit-transform: translate(0, -50%) !important;
        transform: translate(0, -50%) !important;
    }
    .show-photo {
        left: 500px !important;
        /* transform: translateX(0) !important; */
    }
}

.part-eight .content-box {
    position: relative;
    float: left;
    width: 50%;
}

.part-eight .inter-two-pic-box::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #b3b5b7;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
}

.part-eight .content-box .white-block {
    width: 26px;
    height: 42px;
    opacity: 0;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    position: absolute;
    top: 20%;
    left: 6%;
}

.part-eight .content-box:nth-child(2) .white-block {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.part-eight .content-box:nth-child(2) .txt,
.part-eight .content-box:nth-child(2) .txt2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.part-eight .content-box .txt {
    text-align: justify;
    opacity: 0;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    position: absolute;
    top: 24%;
    left: 10%;
    color: #fff;
}

.part-eight .content-box .txt1 {
    width: 33.8%;
}

.part-eight .content-box .txt2 {
    width: 23.62%;
    /* height: 102px; */
    position: absolute;
    right: 14%;
    /*background: url('../images/bv-international-txt.png') no-repeat;*/
    bottom: 14.5%;
    /*background-size: 100% 100%;*/
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    opacity: 0;
}

.part-eight .content-box .txt1-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.part-eight .content-box .txt1-con {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.part-eight .content-box .txt2-con {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.part-eight .content-box .txt2-tips {
    font-size: 10px;
}

.pagenation {
    position: absolute;
    bottom: 22.5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0;
    opacity: 0;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.pagenation span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #8c8e90;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.pagenation span.active {
    background-color: #0b0b0b;
}

.part-nine .right-content-box ul {
    position: relative;
}

.part-nine .right-content-box {
    width: 905px;
    height: 494px;
    overflow: hidden;
    padding-right: 15px;
    -webkit-transform: translateX(calc());
    transform: translateX(calc());
    left: calc(50%+90);
    /* margin-left: 90px; */
}

.part-nine .right-content-box .item {
    list-style-type: none;
    display: inline-block;
    width: 165px;
    margin-right: 55px;
    margin-bottom: 30px;
    border: 1px solid #dcddde;
    border-radius: 4px;
    font-size: 8px;
    vertical-align: top;
    color: #87898b;
    padding-bottom: 10px;
    cursor: pointer;
}

.part-nine .right-content-box .item:nth-child(4n) {
    margin-right: 0;
}

.part-nine .right-content-box .item img {
    background-color: #ddd;
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 105px;
}

.part-nine .right-content-box .item .title {
    text-align: center;
    color: #231f20;
    font-size: 10px;
    margin: 15px auto 30px;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.part-nine .right-content-box .item .address {
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.change {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

.think-tank .change {
    right: 0;
}

.change img {
    width: 7px;
    height: 20px;
    cursor: pointer;
}

.change img:nth-child(2) {
    margin-top: 60px;
}

#core_leader img:nth-child(2) {
    margin: 0;
    margin-left: 60px;
}

.resource-map {
    width: 73.87%;
    min-width: 1000px;
}

.resource-map .red-cion {
    position: absolute;
    width: 6.3%;
    /* height: 50px; */
}

.resource-map .red-cion-bg {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../images/international-map-red-coin.png') no-repeat;
    background-size: 100% 100%;
    -webkit-animation: red-coin 4s infinite;
    animation: red-coin 4s infinite;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

span.red-cion-bg:after {
    content: "";
    width: 100px;
    height: 50px;
    display: inline-block;
}

@-webkit-keyframes red-coin {
    0% {
        /*opacity: 0.5;*/
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    50% {
        /*opacity: 1;*/
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        /*opacity: 0.5;*/
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@keyframes red-coin {
    0% {
        /*opacity: 0.5;*/
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    50% {
        /*opacity: 1;*/
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        /*opacity: 0.5;*/
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

.resource-map .red-cion:hover .red-cion-bg {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: scale(2);
    transform: scale(1.5);
}

.resource-map .red-cion>div.txt-title {
    display: none;
    opacity: 0;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.resource-map .red-cion:hover div.txt-title {
    opacity: 1;
    display: block;
}

.resource-map .red-cion>div.resource-con {
    /*width: 0;*/
    opacity: 0;
    display: none;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.resource-map .red-cion:hover div.resource-con {
    /*width: 255px;*/
    opacity: 1;
    display: block;
}

.resource-map .resource-con .contry li:hover .business {
    opacity: 1;
    /*width: 150px;*/
    -webkit-transition: width 1s;
    transition: width 1s;
}

.resource-map .red-cion.asia {
    top: 19%;
    left: 68%;
}

.resource-map .red-cion.oceania {
    top: 66%;
    left: 81%;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    /* Safari 和 Chrome */
}

.resource-map .red-cion.north-americas {
    top: 22%;
    left: 14.7%;
}

.resource-map .red-cion.europe {
    top: 20%;
    left: 46.5%;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    /* Safari 和 Chrome */
}

.resource-map .red-cion.africa {
    bottom: 46%;
    left: 48.5%;
}

.resource-map .red-cion.south-america {
    top: 66%;
    left: 27%;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    /* Safari 和 Chrome */
}

.resource-map .red-cion .txt-title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.resource-map .red-cion .txt-title span:nth-child(1) {
    font-size: 24px;
}

.resource-map .red-cion .txt-title span:nth-child(2) {
    font-size: 12px;
}

.resource-map .red-cion .resource-con {
    position: absolute;
    height: 160px;
    width: 255px;
    top: -60px;
    left: 90px;
}

.resource-map .red-cion .resource-con::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -10px;
    border-right: 10px solid #961b34;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.resource-map .resource-con ul {
    display: inline-block;
    vertical-align: top;
    /* overflow: auto; */
    height: 100%;
}

.resource-map .resource-con .contry {
    background-color: #961b34;
    color: #6f1326;
    font-size: 10px;
    width: 105px;
    padding: 10px 0 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

.resource-map .resource-con li {
    margin-bottom: 10px;
    cursor: pointer;
}


/*.resource-map .resource-con .contry li.active {
    color: #fff;
    font-size: 14px;
}*/

.resource-map .resource-con .contry li:hover {
    color: #fff;
    font-size: 14px;
}

.resource-map .resource-con .business {
    background-color: rgba(185, 185, 185, 0.6);
    color: #961b34;
    font-size: 8px;
    padding: 15px 0 15px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    margin-left: -10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 108px;
    overflow: auto;
}

.part-eleven .think-tank {
    /* max-width: 1200px; */
    /* min-width: 1000px; */
    /* padding: 0 100px; */
    /* top: 90px; */
    /* left: 0; */
    /* right: 0; */
    /* transform: translate(0, 0); */
    /* width: 1000px; */
    /* height: 100%; */
    padding-left: 7.6%;
}

.part-eleven .think-tank .title {
    width: 26.6%;
    margin-top: 150px;
    min-width: 200px;
}

.picCarsoule-con {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 64.8%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #000;
}

.leaderskip {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.leaderskip .title {
    width: 261px;
    height: 78px;
    /* position: absolute; */
    /* left: 230px; */
    /* top: 120px; */
    margin-left: 50px;
}

.show-photo {
    overflow: hidden;
    width: 550px;
    height: 82.5%;
    background: url('../images/thinktank-photo-bg.png') no-repeat;
    background-size: 252px 101%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    left: 50%;
    /* -webkit-transform: translateX(-50%); */
    /* transform: translateX(-50%); */
    margin-left: -126px;
}


/* .show-photo::after {
    content: '';
    display: block;
    width: 1000px;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    bottom: 0; */


/* left: -200%; */


/* } */

.show-photo ul {
    position: relative;
}

.show-photo li {
    width: 252px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.show-photo li:nth-child(1) {
    margin-top: -35px;
}

.show-photo li img {
    width: 150px;
    /* height: 150px; */
    display: inline-block;
}

.show-photo li .txt {
    display: none;
}

.show-photo li.active {
    margin-bottom: 30px;
}

.show-photo li.active img {
    width: 200px;
    height: 200px;
    z-index: 3;
    position: relative;
    opacity: 0;
    animation: showredbg 1s 1;
    -webkit-animation: showredbg 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.show-photo li.active .photo {
    position: relative;
}

.show-photo li .redbg-block {
    background-color: #961d35;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    bottom: -10px;
    right: 12px;
    opacity: 0;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.show-photo li.active .redbg-block {
    animation: showredbg 1s 1;
    -webkit-animation: showredbg 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.show-photo li .txt {
    display: block;
    position: absolute;
    left: 510px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #231f20;
    font-size: 16px;
    width: 240px;
    -webkit-animation-delay: 2s !important;
    animation-delay: 2s !important;
    text-align: justify;
    line-height: 1.5;
    margin-left: 50px;
}

.show-photo li.active .txt {
    animation: showtxtright 2s 1;
    -webkit-animation: showtxtright 2s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes showtxtright {
    0% {
        left: 510px;
    }
    100% {
        left: 210px;
    }
}

@keyframes showtxtright {
    0% {
        left: 510px;
    }
    100% {
        left: 210px;
    }
}


/*核心团队*/

.leaderskip .show-photo {
    overflow: hidden;
    width: 750px;
    /* padding-top: 50px; */
    height: 367px;
    background: url('../images/leaderskip-photo-bg.png') no-repeat;
    background-size: 100% 160px;
    background-position-y: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 33%;
    z-index: 3;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
}

.leaderskip .show-photo ul {
    position: relative;
    width: 999999999px;
    left: -40px;
    z-index: 2;
    /* top: -30px; */
}

.leaderskip .show-photo li {
    width: 160px;
    margin-bottom: 18px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.leaderskip .show-photo li:nth-child(1) {
    margin-top: -35px;
}

.leaderskip .show-photo li img {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.leaderskip .show-photo li .txt {
    display: none;
}

.leaderskip .show-photo li.active {
    margin-bottom: 30px;
}

.leaderskip .show-photo li.active img {
    width: 160px;
    height: 160px;
    z-index: 3;
    position: relative;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
    opacity: 0;
}

.leaderskip .show-photo li.active img {
    animation: showredbg 1s 1;
    -webkit-animation: showredbg 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.leaderskip .show-photo li .redbg-block {
    background-color: #961d35;
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 2;
    bottom: -10px;
    right: -12px;
    opacity: 0;
}

.leaderskip .show-photo li.active .redbg-block {
    animation: showredbg 1s 1;
    -webkit-animation: showredbg 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes showredbg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showredbg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.leaderskip .show-photo li .txt {
    display: block;
    position: absolute;
    color: #231f20;
    font-size: 12px;
    left: 0;
    height: 500px;
    width: 300px;
    line-height: 1.5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 400%;
    /* opacity: 0; */
    /* bottom: -100%; */
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
    margin: 0;
}

.leaderskip .show-photo li.active .txt {
    animation: showdec 1s 1;
    -webkit-animation: showdec 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes showdec {
    0% {
        top: 400%;
    }
    100% {
        top: 110%;
    }
}

@keyframes showdec {
    0% {
        top: 400%;
    }
    100% {
        top: 110%;
    }
}

.part-three .contact-us-box {
    bottom: 70px;
}

.leaderskip .show-photo li.active .txt .leader-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.leaderskip .show-photo li.active .txt .leader-title {
    font-size: 8px;
    color: #666;
    text-align: center;
    margin-bottom: 5px;
}

.leaderskip .show-photo li.active .txt .leader-desc {
    text-align: justify;
}

.leaderskip .change {
    position: absolute;
    top: 27%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    right: 50%;
}

.leaderskip .change img {
    width: 20px;
    height: 7px;
    display: inline-block;
}


/*.change img:nth-child(2) {
    margin: 0;
    margin-left: 60px;
}
*/


/*导航栏弹窗*/

.pop-window-nav.active {
    top: 0;
    -webkit-animation: popnav 1s 1;
    animation: popnav 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.pop-window-nav.closeactive {
    top: -100%;
    -webkit-animation: closepopnav 1s 1;
    animation: closepopnav 1s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes popnav {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes popnav {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes closepopnav {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

@keyframes closepopnav {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

.pop-window-nav {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    min-width: 1200px;
    z-index: 10;
    /* display: none; */
}

.pop-window-nav .header {
    position: absolute;
}

.pop-window-nav .header .lang {
    color: #000 !important;
}

.pop-window-nav .title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 62px;
}

.pop-window-nav .nav-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 1000px;
    padding: 0 100px;
    cursor: pointer;
}

.pop-window-nav .nav-txt li {
    font-size: 24px;
    margin-bottom: 40px;
}