<header id="js-header" class="header clearfix headerfadein">
    <a href="./index.html#page1" class="header-logo g-fl" title="返回首页">
        <img src="./images/icon/icon-logo.png">
    </a>
    <a href="javascript:$('.pop-window-nav').removeClass('closeactive').addClass('active')" class="nav-icon">
        <% if (headerIcon === 'gray') { %>
            <img src="./images/icon/icon-nav-gray.png">
            <% }else{ %>
                <img src="./images/icon-3.png">
                <img class="js-ds-none" src="./images/icon/icon-nav-gray.png">
                <% } %>
    </a>
    <div class="lang g-fr" style="color:#ececec;">
        <span>Cn </span>/<span> En</span>
    </div>
</header>